#main h1, h2, h3, h4, h5, h6 {
	text-decoration: underline;
}

#main h1:before {
	content: "# ";
}

#main h2:before {
	content: "## ";
}

#main h3:before {
	content: "### ";
}

#main h4:before {
	content: "#### ";
}

#main h5:before {
	content: "##### ";
}

#main h6:before {
	content: "###### ";
}