<% extend("../../body"); %>

<div class="list-group">
  <% for (const app of apps) { %>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= app.title %></h5>
      </div>
      <p class="mb-1"><%= app.paragraph %></p>
      <hr>
      <small>Command: <%= app.command %></small>
    </a>
  <% } %>
</div>