<% extend("../../body"); %>

<h1>Al Mujib</h1>
<p>Welcome</p>
<p>Aplikasi ini tidak jadi saya lanjutkan.</p>
<p>Update ini adalah update terakhir.</p>
<p>Saya kecanduan belajar coding sehingga mengabaikan yang lain!</p>