<% extend("../../body"); %>

<h1>Settings</h1>
<div class="alert alert-warning" role="alert">
  This page is read only!
</div>
<nav>
	<div class="nav nav-tabs" id="nav-tab" role="tablist">
		<button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
		<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
		<button class="nav-link" id="nav-browser-tab" data-bs-toggle="tab" data-bs-target="#nav-browser" type="button" role="tab" aria-controls="nav-browser" aria-selected="false">Browser</button>
	</div>
</nav>
<div class="tab-content" id="nav-tabContent">
	<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">...</div>
	<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">...</div>
	<div class="tab-pane fade" id="nav-browser" role="tabpanel" aria-labelledby="nav-browser-tab" tabindex="0">
		<ul class="list-group">
			<li class="list-group-item">An item</li>
			<li class="list-group-item">A second item</li>
			<li class="list-group-item">A third item</li>
			<li class="list-group-item">A fourth item</li>
			<li class="list-group-item">And a fifth one</li>
		</ul>
		<% for (const cookie in data.cookies) { %>
			<%= cookie %>
		<% } %>
	</div>
</div>