<nav class="navbar fixed-bottom bg-body-tertiary">
  <div class="container-fluid mx-auto">
    <button id="btn-back"><i class="bi bi-arrow-left"></i> Back</button>
    <i class="bi bi-heart-fill text-danger" data-bs-toggle="tooltip" data-bs-title="Al Mujib"></i>
    <button id="btn-forward">Forward <i class="bi bi-arrow-right"></i></button>
  </div>
</nav>