<% extend("../../body"); %>

<link rel="stylesheet" href="/public/css/pages/calendar/styles.css">

<h1>Calendar</h1>
<ul class="list-group">
  <li class="list-group-item">
    <a href="/calendar/masehi">Masehi</a>
  </li>
  <li class="list-group-item">
    <a href="/calendar/hijriah">Hijriah</a>
  </li>
</ul>
