<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<% if (typeof title_page != "undefined") { %>
		<title><%= title_page %></title>
	<% } else { %>
		<title>Al Mujib CLI</title>
	<% } %>
	
	<%- include("partials/head"); %>
</head>
<body>
	<main id="main" class="container border mt-4 mb-5 p-3 bg-primary-subtle">
		<%- content %>
	</main>
	<%- include("partials/foot"); %>
</body>
</html>