<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand text-decoration-underline" href="/" data-bs-toggle="tooltip" data-bs-title="v<%= version %>">Al Mujib</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home/about" data-bs-toggle="tooltip" data-bs-title="Information of this package">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Apps
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/docs">DOCS <i class="bi bi-file-earmark-text-fill"></i></a></li>
            <li><a class="dropdown-item" href="/calendar">Calendar <i class="bi bi-calendar-event-fill"></i></a></li>
            <li><a class="dropdown-item" href="/home/apps">More Apps <i class="bi bi-three-dots"></i></a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/account">Account <i class="bi bi-person-circle"></i></a></li>
            <li><a class="dropdown-item" href="/home/settings">Settings <i class="bi bi-gear-fill"></i></a></li>
            <li><a class="dropdown-item" href="/home/license">License</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>